<h1> Profile </h1>
<%= @user.picture_url %>
<h2> ABOUT ME </h2>
<p><%= @user.biography %></p>
<h2><%= @user.name %></h2>
<p><%= @user.description %></p>
<p>Time in Berlin:<%= @user.time_in_berlin%> </p>
<p>Reviews starred: </p>
<h2>FAVORITES</h2>
