<h1> Profile </h1>
<div class="createnew">
<%= @user.picture_url %>
<%# <%= image_tag(@user.picture_url)%>
<div class="font">
 ` <h2> <strong> About me </strong> </h2>
  <p><%= @user.biography %></p>
  <h2><%= @user.name %></h2>
  <p><%= @user.description %></p>
  <p>Time in Berlin:<%= @user.time_in_berlin%> </p>
  <p>Reviews starred: </p>
  <div class="padding">
  <h2>Favorites</h2>
    </div>`
  </div>
</div>
