<div class="background"></div>
<main>




<div class="main-contain">
<h1>Welcome to ZeitGeist</h1>

<p>Search for open air markets in Berlin, Germany.


<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: markets_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for a market"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<ol class="card-list">
  <% @markets.each do |market| %>
    <li>
      <div class="card">
        <div class="img-container">
          <img src="roman-kraft-Mvz8Xfy3TPU-unsplash.jpg" width="720" height="720" alt="Profile">
        </div>
        <h3><%= market.name %></h3>
        <p><%= market.description %></p>
      </div>
    </li>
  <% end %>

</ol>




</div>
</main>
