  <% @markets.each do |market| %>
  <div class="marketcard">
    <div class="marketimage">
       <%= image_tag(market.image_url) %>
        <h5> <%= market.name %></h5>
        <p> <%= market.description %></p>
        <p> <%= market.address %></p>
        <div class="paddedarea">
      <%= link_to " Get directions", "https://maps.google.com/maps?q=#{market.address}", :class=>"btn" %>
      <%= link_to new_market_review_path(market.id) , class: "btn-ghost" do %>
      Leave a Review
    <%end%>
    <%= link_to market_reviews_path(market.id) , class: "btn-ghost" do %>
      Check the reviews
    <%end%>
    </div>
      </div>
  </div>
  <% end %>
