  <% @markets.each do |market| %>
  <div class="marketcard">
    <div class="marketimage">
       <%= image_tag(market.image_url) %>
        <h5> <%= market.name %></h5>
        <p> <%= market.description %></p>
        <p> <%= market.address %></p>
      <%= link_to "directions", "https://maps.google.com/maps?q=#{market.address}" %>
      </div>
  </div>
  <% end %>

