<h1> Here are your results: </h1>
<div class= "container" >
  <div class = "cards my-3" >
    <% @markets.each do |m| %>

      <%= link_to market_path(m) do  %>
        <div class = "card-trip">
          <%# image_tag market.category.image_url%>
          <div class= "card-trip-info">
            <%= m.name%>
            <%= m.category.name %>
            <%= m.address%>
            <%= m.description%>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
